<!-- app/views/sample/index.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Sample View</title>
</head>
<body>
  <h1>Welcome to My Rails App</h1>
  <p>This is a sample view rendered using Ruby on Rails!</p>
</body>
</html>
